@import "../index.scss";

header {
  background-image: url(header.jpg) no-repeat;
  background-attachment: relative;
  background-size: cover;
  overflow: hidden;
  display: inherit;
  grid-template-rows: auto 1fr;
}
