* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

$bgblack: #222;
$bggreen: #82b340;
$bgwhite: #fff;
$bggrey: #ececec;

body {
  font-family: "Open Sans", sans-serif;
  background: $bgwhite;
  color: $bgblack;
}
